<!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
</footer> -->
<footer class="bg-gray">
  <div class="container tc white">
    <div class="pt5 pb4">
      <h2 class="title lh-title tc mb3 pb2">Get in touch!</h2>

      <p class="f4 mb3">paola.rguti@gmail.com</p>

      <div class="flex justify-center f4">
        <a class="db ba br50 w2 h2 flex justify-center items-center mh1 white" href="https://linkedin.com/in/paolarguti/">
          <i class="fab fa-linkedin-in f6"></i>
        </a>

        <a class="db ba br50 w2 h2 flex justify-center items-center mh1 white" href="mailto:paola.rguti@gmail.com" target="_blank">
          <i class="fas fa-envelope f6"></i>
        </a>

        <a class="db ba br50 w2 h2 flex justify-center items-center mh1 white" href="https://angel.co/paola-gutierrez-5" target="_blank">
          <i class="fab fa-angellist f6"></i>
        </a>
      </div>
    </div>

    <div class="bt b--white pv3">
      <p class="f7 mb0">Handcrafted by me <i class="far fa-copyright"></i> 2019</p>
    </div>
  </div>
</footer>
