---
layout: default
---
<main>
  <section class="pt5-ns pt4 tc" style="background-image: url({{ '/assets/img/hero-recharge.png' | relative_url }}); background-size: cover; background-position: bottom center; background-repeat: no-repeat;">

    <div class="container">
      <div class="post center pb5">
        <h1 class="lh-title mb4 pb2 f2">The <span class="strike gray">Shopping</span> Subscription Experience your Customers Need to Succeed</h1>

        <div class="ph5-ns">
          <div class="flex items-center mb3 ph4-l">
            <div class="ph4-ns ph2 w-50">
              <img src="{{ '/assets/img/logo-shopify.png' | relative_url }}" class="db center">
            </div>

            <div class="gray fw7">+</div>

            <div class="ph4-ns ph2 w-50">
              <img src="{{ '/assets/img/logo-recharge.png' | relative_url }}" class="db center">
            </div>
          </div>
        </div>

        <p class="mb4">We leverage the power of Shopify and ReCharge, the leading <span class="nowrap">e-commerce</span> and subscription platforms to help you ideaize and build a custom, branded customer experience that's aligned with your business goals.</p>

        <a href="mailto:paola.rguti@gmail.com" class="btn" target="_blank">Get in touch</a>
      </div>
    </div>

    <img class="w-100 db" src="{{ '/assets/img/wave-gray.svg' | relative_url }}" style=" transform: scaleY(-1);">
  </section>

  <!-- work -->
  <section class="pv5 bg-near-white">
    <div id="work" class="container tc-ns tl">
      <h2 class="lh-title tc mb4 pb2">A Fully-Customized Experience</h2>

      <div class="flex flex-column flex-row-ns section ph5-l mb4 pb3-ns">
        <div class="ph2 w-25-ns w-100">
          <div class="flex flex-row flex-column-ns items-center">
            <img src="https://static.thenounproject.com/png/807758-200.png" class="w3 db center-ns mb2 mr3 mr0-ns">
            <p class="mb0 fw7">Goal-Driven</p>
          </div>
        </div>

        <div class="ph2 w-25-ns w-100">
          <div class="flex flex-row flex-column-ns items-center">
            <img src="https://static.thenounproject.com/png/808247-200.png" class="w3 db center-ns mb2 mr3 mr0-ns">
            <p class="mb0 fw7">Made for Humans</p>
          </div>
        </div>

        <div class="ph2 w-25-ns w-100">
          <div class="flex flex-row flex-column-ns items-center">
            <img src="https://static.thenounproject.com/png/808268-200.png" class="w3 db center-ns mb2 mr3 mr0-ns">
            <p class="mb0 fw7">Mobile First</p>
          </div>
        </div>

        <div class="ph2 w-25-ns w-100">
          <div class="flex flex-row flex-column-ns items-center">
            <img src="https://static.thenounproject.com/png/808071-200.png" class="w3 db center-ns mb2 mr3 mr0-ns">
            <p class="mb0 fw7">Branded</p>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center section">
        <div class="w-60-ns w-100 ph4-ns ph2 mb3 mb0-ns">
          <img src="{{ '/assets/img/beyond-default.png' | relative_url }}" class="db br1 shadow-4">
        </div>

        <div class="w-40-ns w-100 tl ph4-ns ph2">

          <h3 class="mb2 f4">Beyond the Default</h3>

          <p>ReCharge app offers an easy way to add subscription support to your Shopify store. While this is great as a start, it might come short while aligning with your specific business needs.</p>

          <p>We help you go beyond the default and build a fully-customized experience that makes it easy for your customers to subscribe and manage their deliveries, boosting conversions and customer engagement.</p>

          <a href="mailto:paola.rguti@gmail.com" class="fw7">Get in touch &#187;</a>
        </div>
      </div>

      <!-- Services
      Web Design
      Development

      Sign Up Flow
      Account Portal/Subscription Management

      Benefits
      Happier customers
      Higher subscription conversion rate
      Engaged customers
      Order Value
      -->
  </section>

  <!-- testimonial -->
  <section class="bg-half">
    <div class="container">
      <div class="bg-light-blue pv4 ph3 flex items-center justify-center">
        <div class="paragraph center tc">
          <p class="lh-copy">“For several years, Paola has provided impactful expertise in user-experience and design for our organization. She is an adamant learner and has become an experienced web developer. Paola is persistently insightful and always eager to go above and beyond. I’d be elated to have her as a teammate on any project I’m working on.”</p>

           <img src="{{ '/assets/img/tbeseda.jpeg' | relative_url }}" class="w3 br50 mb1">

          <p class="mb0 fw8">- Taylor Beseda.</p>
          <p class="f6 mb0 gray">Director of Technology at From the Farmer.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- about -->
  <section id="about">
    <div class="container pv5">
      <h2 class="lh-title tc mb3 pb2">About</h2>
      <div class="flex flex-row-ns flex-column items-center center ph6-l">
        <div class="w-third-ns w-100 ph0 ph3-ns tc">
          <img src="{{ '/assets/img/headshot.jpeg' | relative_url }}" class="br50 db w4 center w-100-ns mb3 mb0-ns">
        </div>

        <div class="w-two-thirds-ns w-100 ph0 ph3-ns">
          <p>I'm Paola, I love to create simple, clean, effective user experiences all the way from ideation to implementation and constant iteration.</p>

          <p>I think of the text editor as my ultimate design tool where I can transform ideas into real-life solutions.</p>

          <p class="mb0">When offline, you can find me biking around Medellín, Colombia with my husband or somewhere in the world exploring the ocean on a single breath.</p>
        </div>
      </div>
    </div>
  </section>
</main>
